html{
	background: url("../KUVAT/index_background_FULL2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	padding: 10px 10px 1px 10px;
}


header {
	display: flex;
	height: auto;
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}
header img{
	min-height: 120px;
	min-width: 218px;
}
header h1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-weight: bolder;
	width: 50%;
}

figure{
	min-width: 218px;
	width: 15%;
	padding: 0;
	margin: 0;
}
nav {
	display: flex;
	width: 35%;
	align-items: center;
	justify-content: flex-end;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	margin-right: 20px;
	list-style-type: none;
}
nav ul li a {
	font-weight: bolder;
	top: 50%;
	left:50%;
	padding: 15px 0;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #262626;
	border-top: 2px solid #262626;
	border-bottom: 2px solid #262626;
	letter-spacing: 2px;
	transition: .5s;
}
nav ul li a:hover {
	letter-spacing: 10px;
	background-color: white;
}

p{
	margin: 10px;
}
#art1 {
	display: flex;

	width: 100%;
	height: 1000px;
}
#kartta {
	min-height: 600px;
	width: 35%;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 20px;
}
#div2 {
	overflow: hidden;
	width:65%;
	padding: 20px;
	margin-top: 25%;
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}
img{
	max-width: 100%;
}
footer {
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	margin-top: 20px;
	height:100px;
}
#map1{
	height: 100%;
	width: 100%;
}
@media only screen and (max-width: 1700px) {
	#kartta {
		min-height: 600px;
		width: 45%;
		margin-top: 40px;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	#div2 {
		overflow: hidden;
		width:55%;
		padding: 20px;
		margin-top: 25%;
		margin-bottom: 10px;
		margin-left: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
}
@media only screen and (max-width: 1560px) {
	header h1{
		align-items: center;
		justify-content: start;
		font-size: 50px;
		font-weight: bolder;
		width: 50%;
	}
}
@media only screen and (max-width: 1240px) {
	header {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
	header h1{
		align-items: center;
		justify-content: start;
		font-size: 50px;
		font-weight: bolder;
		width: 20%;
	}
	nav {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	#art1 {
		flex-wrap: wrap;
	}
	#kartta {
		min-height: 600px;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 10px;
		margin-right: 0;
	}
	#div2 {
		overflow: hidden;
		width:100%;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 0;
		background-color: rgba(255, 255, 255, 0.3);
	}
}
@media only screen and (max-width: 680px) {
	header h1{
		font-size: 30px;
	}
	nav {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	nav ul {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	nav ul li {
		margin-top: 45px;
		margin-right: 20px;
		list-style-type: none;
	}
	nav ul li a {
		font-weight: bolder;
		top: 50%;
		left:50%;
		font-size: 20px;
		color: #262626;
		border-top: 0;
		border-bottom: 0;
		letter-spacing: 2px;
	}
}
