html{
	background: url("../KUVAT/index_background_FULL2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
main {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	padding: 10px 10px 1px 10px;
	font-family: 'Montserrat', sans-serif;
}
#etusivuteksti a { color: #1e2124; }
header {
	display: flex;
	height: auto;
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Montserrat', sans-serif;
}
header img{
	min-height: 120px;
	min-width: 218px;
}
header h1{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 70px;
	font-weight: bolder;
	width: 50%;
}
figure{
	min-width: 218px;
	width: 15%;
	padding: 0;
	margin: 0;
}
nav {
	display: flex;
	width: 35%;
	align-items: center;
	justify-content: flex-end;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	margin-right: 20px;
	list-style-type: none;
}
nav ul li a {
	font-weight: bolder;
	top: 50%;
	left:50%;
	padding: 15px 0;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #262626;
	border-top: 2px solid #262626;
	border-bottom: 2px solid #262626;
	letter-spacing: 2px;
	transition: .5s;
}
nav ul li a:hover {
	letter-spacing: 10px;
	background-color: white;
}
p,h1,h2,h4{
	font-family: 'Montserrat', sans-serif;
}
h4 {
	color:white;
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 50px;
}
#etusivuteksti p{
	font-size: 25px;
	margin: 10px;
}
#palaute_art{
	display: flex;
	width: 100%;
}
input[type=text],textarea{
	padding: 12px 20px;
	font-size: 20px;
}
input[type="radio"] {
	height: 30px;
	width: 30px;
}
input[type="submit"],input[type="reset"],select{
	font-size: 30px;
}
input[type="submit"]:hover{
	background-color: #00a123;
}
input[type="reset"]:hover{
	background-color: #bf0d04;
}
form,table{
	text-align: center;
	width: 100%;
}
form p{
	color: white;
	font-size: 30px;
}
#haku_art{
	display: flex;
	color:white;
	width: 100%;
}
#haku_art table {
	margin-top: 20px;
}
#haku_art th{
	font-size: 20px;
}
#haku_art h1{
	text-align: center;
}
#tehty_haku_art header {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 24px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
#figures figure img{
	min-width: 425px;
	max-width: 425px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 4px;
}
#figures figure figcaption{
	max-height: 260px;
	min-width: 433px;
	display: flex;
	width: 100%;
	font-size: 28px;
	background-color: rgba(255, 255, 255, 0.3);
}
#tehty_haku_art figure figcaption p, #haku_art figure figcaption p{
	margin-right: 0;
	padding-left: 15px;
	overflow: hidden;
}
#tehty_haku_art figure, #haku_art figure{
	color:white;
	min-width: 425px;
	min-height: 247px;
	margin-top: 15px;
	margin-right: 15px;
	font-weight: bold;
}
#tehty_haku_art, #haku_art{
	width: 100%;
}
#art5 {
	width: 100%;
}
#art5 header{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 24px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
#hd1, #hd2, #hd3{
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 24px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}
#tekijat_kuvat{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
#tekijat_kuvat figure {
	margin: 15px;
	color: white;
	font-size: 20px;
}
#video_art{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
#figures {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
#kartta_art {
	display: flex;
	width: 100%;
	height: 1000px;
}
#kartta {
	min-height: 600px;
	width: 35%;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 20px;
}
#etusivuteksti {
	overflow: hidden;
	width:65%;
	padding: 20px;
	margin-top: 25%;
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}
img{
	max-width: 100%;
}
footer {
	margin-left: 10px;
	position: absolute;
	bottom: 0;
	height: 100px;
	margin-top: -200px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 98.65%;
}
#map1{
	height: 100%;
	width: 100%;
}
@media only screen and (max-width: 1700px) {
	#kartta {
		min-height: 600px;
		width: 45%;
		margin-top: 40px;
		margin-bottom: 10px;
		margin-right: 20px;
	}
	#etusivuteksti {
		overflow: hidden;
		width:55%;
		padding: 20px;
		margin-top: 25%;
		margin-bottom: 10px;
		margin-left: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
}
@media only screen and (max-width: 1560px) {
	header h1{
		align-items: center;
		justify-content: start;
		font-size: 50px;
		font-weight: bolder;
		width: 50%;
	}
}
@media only screen and (max-width: 1240px) {
	header {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
	header h1{
		align-items: center;
		justify-content: start;
		font-size: 50px;
		font-weight: bolder;
		width: 20%;
	}
	nav {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	#kartta_art {
		flex-wrap: wrap;
	}
	#kartta {
		min-height: 600px;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 10px;
		margin-right: 0;
	}
	#etusivuteksti {
		overflow: hidden;
		width:100%;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 0;
		background-color: rgba(255, 255, 255, 0.3);
	}
}
@media only screen and (max-width: 680px) {
	header h1{
		font-size: 30px;
	}
	nav {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	nav ul {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	nav ul li {
		margin-top: 45px;
		margin-right: 20px;
		list-style-type: none;
	}
	nav ul li a {
		font-weight: bolder;
		top: 50%;
		left:50%;
		font-size: 20px;
		color: #262626;
		border-top: 0;
		border-bottom: 0;
		letter-spacing: 2px;
	}
}
